<div class="container">
    <table *ngIf="flights?.length>0"  cellspacing="0" style="width:100%">
        <tr>
            <th *ngFor="let column of tableColumns">{{column.title}}</th>
        </tr>
        <tr *ngFor="let flight of flights" [ngClass]="{'selected':selectedFlight==flight}" (click)="onSelectFlight(flight)" >
            <td class="flight-info" *ngFor="let column of tableColumns">{{flight[column.key] || ''}}</td>
        </tr>
    </table>
    <app-flight-info *ngIf="selectedFlight" [flight]="selectedFlight"></app-flight-info>
</div>
