.container{
    display: flex;
    flex-direction: row;
}
tr{
     cursor: pointer;
     &.selected{
            td{ 
                background:azure;
            }
     }
}
td{ 
    &.flight-info{
        padding:10px 20px;
    } 
}
