<div class='container'>
    <div *ngFor="let detail of info" class='detail'>
        <span>{{detail.title}}</span>
        <span *ngIf="!detail.format">{{flight[detail.key]}}</span>
        <ng-container *ngIf="detail.format">
            <ng-container [ngSwitch]="detail.format">
                <span *ngSwitchCase="'date'">{{flight[detail.key] | flightDuration}}</span>
            </ng-container>
        </ng-container>
    </div>
</div>
