<div class="container">
    <span class="title">
        Workers
    </span>
    <span (click)="selectWorker(worker)" [ngClass]="{'selected':worker === selectedWorker}" class="worker-name" *ngFor="let worker of allWorkersList">{{worker.name}}</span>
</div>