.container{
    display: flex;
    flex-direction: column;
}
.title{
    font-weight: bold;
}
.worker-name{
    cursor: pointer;
    padding:10px 20px;
    &.selected {
        text-decoration: underline;
    }
}